## 1. Clean the Netflix data

In [1]:
import pandas as pd
import numpy as np

In [2]:
netflix = pd.read_csv('https://raw.githubusercontent.com/manyuzhang1996/DATA220-Assignment/main/' +
                      'NetflixContent.csv')

In [3]:
netflix.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,25-Sep-21,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,24-Sep-21,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,24-Sep-21,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,24-Sep-21,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,24-Sep-21,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

#### 1.1 keep the first director in column 'director'

In [4]:
def cut(char):
    i = 0
    while char[i] != ',':
        i += 1
    return char[:i]

In [5]:
for i in range(len(netflix['director'])):
    if netflix['director'][i] != None:
        try:
            new_director = cut(netflix['director'][i])
            netflix.at[i, 'director'] = new_director
        except:
            pass

In [6]:
netflix_director = netflix[['show_id', 'director']]

In [7]:
netflix_director.to_csv('Netflix_director.csv', index=False)

#### 1.2 Group rating in different audience groups

In [8]:
netflix['new_rating'] = [None]*len(netflix['rating'])

In [9]:
for i in range(len(netflix['rating'])):
    if netflix['rating'][i] in ['TV-Y', 'TV-Y7', 'TV-Y7-FY', 'G', 'TV-G', 'PG', 'TV-PG']:
        netflix.at[i, 'new_rating'] = 'kids'
    elif netflix['rating'][i] in ['TV-14', 'PG-13']:
        netflix.at[i, 'new_rating'] = 'teens'
    else:
        netflix.at[i, 'new_rating'] = 'adults'

In [10]:
netflix_new_rating = netflix[['show_id', 'new_rating']]

In [11]:
netflix_new_rating.to_csv('Netflix_new_rating.csv', index=False)

## 2. Clean the Rotton Tomato data

In [12]:
tomato = pd.read_csv('rotten_tomatoes_movies.csv')

In [13]:
tomato.head(5)

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,content_rating,genres,directors,authors,actors,original_release_date,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,...,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
1,m/0878835,Please Give,Kate (Catherine Keener) and her husband Alex (...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,...,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19
2,m/10,10,"A successful, middle-aged Hollywood songwriter...",Blake Edwards' bawdy comedy may not score a pe...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,...,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Following the closing arguments in a murder tr...,Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,...,Criterion Collection,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","In 1866, Professor Pierre M. Aronnax (Paul Luk...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,...,Disney,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3

#### 1.1 keep the first director in column 'director'

In [14]:
for i in range(len(tomato['directors'])):
    if tomato['directors'][i] != None:
        try:
            new_director = cut(tomato['directors'][i])
            tomato.at[i, 'directors'] = new_director
        except:
            pass

In [15]:
tomato_director = tomato[['rotten_tomatoes_link', 'directors']]

In [16]:
tomato_director.to_csv('Tomato_director.csv', index=False)

#### 1.2 Group rating in different audience groups

In [17]:
tomato['new_content_rating'] = [None]*len(tomato['content_rating'])

In [18]:
for i in range(len(tomato['content_rating'])):
    if tomato['content_rating'][i] in ['PG', 'G']:
        tomato.at[i, 'new_content_rating'] = 'kids'
    elif tomato['content_rating'][i] in ['PG-13']:
        tomato.at[i, 'new_content_rating'] = 'teens'
    elif tomato['content_rating'][i] in ['R', 'NC17']:
        tomato.at[i, 'new_content_rating'] = 'adults'
    else:
        tomato.at[i, 'new_content_rating'] = 'unrated'

In [19]:
tomato_new_content_rating = tomato[['rotten_tomatoes_link', 'new_content_rating']]

In [20]:
tomato_new_content_rating.to_csv('Tomato_new_content_rating.csv', index=False)

## 3. Clean the IMDb data

In [21]:
imdb = pd.read_csv('IMDb_All_Genres_etf_clean1.csv')

In [22]:
imdb.head(10)

,Movie_Title,Year,Director,Actors,Rating,Runtime(Mins),Censor,Total_Gross,main_genre,side_genre
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,UA,Gross Unkown,Action,"Adventure, Drama"
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,UA,$534.86M,Action,"Crime, Drama"
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,U,$377.85M,Action,"Adventure, Drama"
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,UA,$292.58M,Action,"Adventure, Sci-Fi"
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,UA,$342.55M,Action,"Adventure, Drama"
5,The Lord of the Rings: The Fellowship of the Ring,2001,Peter Jackson,"Elijah Wood, Ian McKellen, Orlando Bloom, Sean...",8.8,178,U,$315.54M,Action,"Adventure, Drama"
6,The Matrix,1999,"Directors:Lana Wachowski, Lilly Wachowski","Keanu Reeves, Laurence Fishburne, Carrie-Anne ...",8.7,136,A,$171.48M,Action,Sci-Fi
7,The Empire Strikes Back,1980,Irvin Kershner,"Mark Hamill, Harrison Ford, Carrie Fisher, Bil...",8.7,124,UA,$290.48M,Action,"Adventure, Fantasy"
8,Terminator 2: Judgment Day,1991,James Cameron,"Arnold Schwarzenegger, Linda Hamilton, Edward ...",8.6,137,A,$204.84M,Action,Sci-Fi
9,Star Wars,1977,George Lucas,"Mark Hamill, Harrison Ford, Carrie Fisher, Ale...",8.6,121,U,$322.74M,Action,"Adventure, Fantasy"

#### keep the first director in column 'director'

In [23]:
def imdbcut(char):
    i, j = 0, 10
    while char[i] != ',':
        i += 1
    return char[10:i]

In [24]:
for i in range(len(imdb['Director'])):
    if imdb['Director'][i][:10] == 'Directors:':
        try:
            new_director = imdbcut(imdb['Director'][i])
            imdb.at[i, 'Director'] = new_director
        except:
            pass

In [25]:
imdb.head(10)

,Movie_Title,Year,Director,Actors,Rating,Runtime(Mins),Censor,Total_Gross,main_genre,side_genre
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,UA,Gross Unkown,Action,"Adventure, Drama"
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,UA,$534.86M,Action,"Crime, Drama"
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,U,$377.85M,Action,"Adventure, Drama"
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,UA,$292.58M,Action,"Adventure, Sci-Fi"
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,UA,$342.55M,Action,"Adventure, Drama"
5,The Lord of the Rings: The Fellowship of the Ring,2001,Peter Jackson,"Elijah Wood, Ian McKellen, Orlando Bloom, Sean...",8.8,178,U,$315.54M,Action,"Adventure, Drama"
6,The Matrix,1999,Lana Wachowski,"Keanu Reeves, Laurence Fishburne, Carrie-Anne ...",8.7,136,A,$171.48M,Action,Sci-Fi
7,The Empire Strikes Back,1980,Irvin Kershner,"Mark Hamill, Harrison Ford, Carrie Fisher, Bil...",8.7,124,UA,$290.48M,Action,"Adventure, Fantasy"
8,Terminator 2: Judgment Day,1991,James Cameron,"Arnold Schwarzenegger, Linda Hamilton, Edward ...",8.6,137,A,$204.84M,Action,Sci-Fi
9,Star Wars,1977,George Lucas,"Mark Hamill, Harrison Ford, Carrie Fisher, Ale...",8.6,121,U,$322.74M,Action,"Adventure, Fantasy"

In [26]:
imdb_director = imdb[['Movie_Title', 'Director']]

In [27]:
imdb_director.to_csv('IMDB_director.csv', index=False)

#### 1.2 Group rating in different audience groups

In [28]:
imdb['new_censor'] = [None]*len(imdb['Censor'])

In [29]:
for i in range(len(imdb['Censor'])):
    if imdb['Censor'][i] in ['U', 'G', 'PG', '7', 'UA 7+', 'All', 'M/PG', 'UA', 'U/A']:
        imdb.at[i, 'new_censor'] = 'kids'
    elif imdb['Censor'][i] in ['PG-13', '16', '13', 'UA 16+', '15+', 'UA 13+', '12+', '12']:
        imdb.at[i, 'new_censor'] = 'teens'
    elif imdb['Censor'][i] in ['A', 'R', '18', '(Banned)', '18+', 'NC-17']:
        imdb.at[i, 'new_censor'] = 'adults'
    else:
        imdb.at[i, 'new_censor'] = 'unrated'

In [30]:
imdb_new_censor = imdb[['Movie_Title', 'new_censor']]

In [31]:
imdb_new_censor.to_csv('IMDB_new_censor.csv', index=False)

(END)